<?xml version="1.0"?>
<robot name="AutomateX" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find arm_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find arm_description)/urdf/arm2.xacro" />
  <xacro:include filename="$(find arm_description)/urdf/sensors.xacro" />
  <xacro:include filename="$(find arm_description)/urdf/gazebo.xacro" />
  <xacro:include filename="$(find arm_description)/urdf/ros2control.xacro" />
    
</robot>
